fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
httpx
pyzbar
opencv-python-headless
python-magic
Pillow

google-generativeai 
python-telegram-bot 

requests
beautifulsoup4
rapidfuzz

scikit-learn 
pandas
numpy==1.26.1
torch==2.1.0
torchvision==0.16.0
